@charset "UTF-8";

@keyframes show
	{
	from
		{
		opacity: 0;
		}
	to
		{
		opacity: 1;
		}
	}

html, body
	{
	min-height: 100vh;
	margin: 0;
	padding: 0;
	}
body
	{
	position: relative;
	padding: 5vmax 0;/*#HEADER,#FOOTERのheightと合わせる*/
	box-sizing: border-box;
	color: #323232;
	background-image: url("../img/bk_texture.png");
	font-family: "UD デジタル 教科書体 N-R", "メイリオ","ＭＳ Ｐゴシック", Sans-serif;
	display: flex;
	flex-direction: column;
	}

/* ******************************************************************************************** */
h1, h2, h3,h4, h5, h6, p
	{
	padding: 0;
	font-weight: normal;
	line-height: 1.5;
	}
h1	
	{
	}
	h2
		{
		font-size: calc(16px + 1vmax);
		}
	p
		{
		font-size: calc(8px + 0.5vmax);
		margin-left: calc(8px + 0.5vmax);
		}
h3
	{
	color: #b93a21;
	font-size: calc(16px + 0.5vmax);
	padding-left: 1vmax;
	border-left: solid 5px #843b43;
	border-bottom: solid 1px #843b43;
	}
h4
	{
	}
h5
	{
	}
h6
	{
	}

a
	{
	font-weight: bold;
	}
	
	a:link, a:visited
		{
		text-decoration: none;
		color: #397d99;
		}
		
	a:hover, a:active, a:focus
		{
		text-decoration: underline;
		color: #01608c;
		}

img[alt="thumbnail"]
	{
	width: 15%;
	border-radius: 0.8vw;
	border:solid 1px #a0a0a0;
	}

/* ******************************************************************************************** */

#HEADER, .partition, #FOOTER
	{
	width: 100%;
	height: 5vmax;
	margin: 0;
	color: #fcfcfc;
	background-color: #424242;		
	box-sizing: border-box;
	}

/* ******************************************************************************************** */

#HEADER
	{
	position: absolute;
	top: 0;
	}
	#TITLEpic
		{
		min-width: 30%;
		height: 50%;
		position: absolute;
		left: 10%;
		transform: translateX(-50%);		
		top: 50%;
		transform: translateY(-50%);		
		background: url("../img/title.png") no-repeat; 
		background-size: contain;
		}

/* ******************************************************************************************** */

.contents
	{
	margin: 0 auto;
	display: flex;
	}

.contentsmenu
	{
	height: 30vh;
	width: 10%;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	}

input[name="tab_item"], .tab_content
	{
	display: none;
	}

#about:checked ~ #about_content,
#ghost:checked ~ #ghost_content,
#balloon:checked ~ #balloon_content
	{
	display: block;
	animation: show 0.5s linear 0s;
	}

/*
#about:checked ~ label[for="about"],
#ghost:checked ~ label[for="ghost"],
#balloon:checked ~ label[for="balloon"]
	{
	background-color: #f4f1eb;
	color: #424242;
	cursor: default;
	}
*/

@media screen and (max-width:480px)/*小*/
	{
	.contents
		{
		width: calc(80vw + calc(5vh / 3 * 6));/*.textとlabelのwidthの和*/
		min-height: 60vh;/*.textのmin-height*/
		}
	.text
		{
		width: 80vw;
		min-height: 60vh;
		margin: 0;
		padding: 2% 5% 8% 5%;
		position: relative;
		background: #f4f1eb url("../img/lav.png") no-repeat right bottom;
		background-size: auto 70vmin;
		box-sizing: border-box;
		box-shadow: 0 5px 5px #aaa;
		}

	}

@media screen and (min-width:481px)/*大*/
	{		
	.contents
		{
		width: calc(50vw + calc(5vh / 3 * 6));/*.textとlabelのwidthの和*/
		min-height: 90vh;/*.textのmin-height*/
		}
	.text
		{
		width: 45vw;
		min-height: 90vh;
		padding: 2% 8% 8% 5%;
		position: relative;
		background: #f4f1eb url("../img/lav.png") no-repeat right bottom;
		background-size: auto 30vmax;
		box-sizing: border-box;
		box-shadow: 0 5px 5px #aaa;
		}
	}

label[class="tab_item"]
	{
	width: 100%;
	height: 5vh;
	line-height: 5vh;
	text-align: center;
	font-family: "メイリオ",Sans-serif;
	font-size: 60%;
	margin: 10px 0;
	background-color: #919187;
	color: #fcfcfc;
	transition-property: color, background-color;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	cursor: pointer;
	border-radius: 0 0.8vh 0.8vh 0;
	box-shadow: 0 2px 2px #aaa;
	}

label[class="tab_item"]:hover
	{
	background-color: #f4f1eb;
	color: #424242;
	}

/* ******************************************************************************************** */

#FOOTER
	{
	position: absolute;
	bottom: 0;
	}

.small
	{
		font-size: calc(calc(8px + 0.5vmax)/5*4);
		margin-left: calc(calc(8px + 0.5vmax)/5*4);	
	}